
@import url("https://kit.fontawesome.com/04f7d0d100.js");

@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');


                                                         /* menu - head*/

                                                                
    
    .navbar-nav :hover {
        border: 1px solid white;
        
    }


        

.imagenPortada {
       
            height: 80vh;
            background-image: url(./Imagenes/inicio.jpg);
            background-image: linear-gradienty ( to top, yellow );
            background-size: cover;
            display: flex;
            align-items: center;
            
            flex-direction: column;
            justify-content: center;
            background-repeat: no-repeat;
            
            
  
            }
        





                                                            /* header de inicio*/
            
 .logoDeInicio {
    display: flex;
       justify-content: center;
       
      }

    




.logoDelMenu
{
    display: flex;
    justify-content: center;
   
    
   
   
   }

   .logoDelMenuu{
       display: flex;
       justify-content: center;
       height: 30rem;
       width: 65rem;
       align-items: center;
       
       }
      
       .logoDelMenu2{
        display: flex;
        justify-content: center;
        height: 30rem;
        width: 30rem;
        align-items: center;
       
       }
       .logoD{
        
        display: flex;
       justify-content: center;
       height: 30rem;
       width: 70rem;
       align-items: center;
       
       }
        
       


.reintegro{
    background-color: black;
    align-items: center;
    border-radius: 10px;
    width: 10xp;
}

h1
        {
            color: white;
            text-align: center;
            
            
            opacity: 0.7;
            font-family: arial;
            word-spacing: 2px;       
             font-size: 30px;}

body {
   background-color: black;


    color:white;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    }

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    
}

ul {
    list-style: none;
    padding: 0;
}

.logoDeContacto {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
   
}



.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}


h1{
    font-size: 70px;
    color:#fff;
    text-align: center;
}

img{
    width: 100%;
    
}
.persona__columna{
    margin: 5%; 
}
.personas .contenedor{
    display: grid;
    }
@media(min-width:520px){
    .personas .contenedor{     
  grid-template-columns: repeat(2,50%);
    }
}
@media(min-width:728px){
   .personas .contenedor{
  grid-template-columns: repeat(3,33.3%);
    }
}

.persona__columna :hover{
 
  
    border-bottom: 1px grey solid;
   
    text-decoration: none;
    
    
    justify-content:center;
    
    transition: 0.10s;
    color: red;}

.refugioLopez
    {
        background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #616161, #9bc5c3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #616161, #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
        border-radius: 10px;
        
        }

        .titulosDeLasExcursiones
        {
            
            font-family:allison;
        }

        p{
            align-items: center;
            color: white;
            font-weight:bolder;
           font-family:'Courier New', Courier, monospace;
        }

        .slider li{
            display: flex;
            justify-content: center;
            font-family: allisons;
            color:blueviolet;
            width: 100%;
            animation: cambio 2s alternate;
            }

            .slider li h1 {
                color:red;
                font-family: allison;
                padding: 20xp;

            }
            @keyframes cambio {
                0% {margin-left: 0%  }
                10% {margin-left: 10%}
        
                20% {margin-left: -100%}
                30% {margin-left: -100%}
                45% {margin-left: -200%}
            }    
        
    
.preguntasFrecuentes{
            display: flex;
            margin: 20px;
            justify-content:center;
            border-radius: 10px;
            position: center;
            align-items: center;
        
                background-color:red;
                width: 1300px;
                height:150px;
                padding: 40px;
                list-style-type:none ;
               ;}

        

        .articuloDePregunta
        { background-color:black;
            border-radius: 10px;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family:arial;   }
        
            .preguntasFrecuentes :hover{
                border-bottom: 1px grey solid;
   
    text-decoration: none;
    
    
    justify-content:center;

    transition: 0.10s;}

    .tituloDeTerminos{
        padding: 20px;
        display: flex;
        justify-content: center;

    }
    .parrafoDeterminos{
        padding: 20px;
        display: flex;
        justify-content: center;
        background: #a73737;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        
        color: black;
        font-family: initial;
        font-weight:bolder;
        border-radius: 20px;

    }

      #footer {
            background: #090909;
            color: #fff;
            font-size: 14px;
            text-align: center;
            padding: 20px 0;
          }
          #footer h3 {
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            position: relative;
            font-family: allison;
            padding: 0;
            margin: 0 0 15px 0;
          }
          #footer p {
             background-color: rgba(0,0,0,0.5);
            font-size: 15;
            font-style: italic;
            padding: 0;
            margin: 0 0 40px 0;
          }
          #footer .social-links {
            margin: 0 0 40px 0;
          }
          #footer .social-links a {
            font-size: 18px;
            display: inline-block;
            background-color:black;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 36px;
            transition: 0.3s;
          }
          #footer .social-links a:hover {
            background:cornflowerblue;
            color: #fff;
            text-decoration: none;
          }
          #footer .copyright {
            margin: 0 0 5px 0;
          }
          
.fondo-index{
    background-image: linear-gradient(to top, #E6DADA 0%, #A8CABA 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    text-decoration: underline;

}


.img-effect{
    overflow: hidden;
}

.img-effect img{
    transition: all .9s ease;
}

.img-effect:hover img{
    transform: scale(1.5);
}


.card-argentina {
    border: 4px solid rgb(240, 231, 231);
    box-shadow: 2px 4px 30px 0 rgba(34, 21, 107, 0.774);

}

#galeria .col-lg-4  {
   padding: 25px;
    display: flex;
    justify-content: center;
    border: 20xp;
   
   
   }

  



