@import"./media";


.indexMain__carrusel {
  width: 100%;
  height: 50vh;
}
.indexMain__carrusel .indexMain__carruselContainer {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.carousel-item__h3, .carousel-item__h4, .carousel-item__a {
  position: absolute;
  color: #DDDDDA;
  font-size: 3rem;
  top: 3rem;
  left: 10rem;
}
@media only screen and (max-width: 991px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 2.5rem;
    left: 8rem;
  }
}
@media only screen and (max-width: 767px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 2rem;
    left: 6rem;
  }
}
@media only screen and (max-width: 575px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 1.8rem;
    left: 2.5rem;
  }
}
.carousel-item__h4 {
  font-size: 1.3rem;
  top: 8rem;
}
@media only screen and (max-width: 575px) {
  .carousel-item__h4 {
    font-size: 0.8rem;
  }
}
.carousel-item__a {
  top: 11rem;
  
  text-decoration: 1px solid transparent;
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.carousel-item:hover > .carousel-item__a {
  color: #DDDDDA;
  transform: scale(1.1, 1.1);
  text-decoration: underline;
}

.carousel-control-next,
.carousel-control-prev {
  width: 11%;
}


.excursion {
position: relative;
overflow: hidden;
-webkit-box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
border-radius: 5px;
}



.banner {
    a {
      font-size: 2rem;
      display: inline-block;
      padding: 60px 60px;
      background: #CCA77A;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      &:hover {
        background:#666664;
      }
  
      font-size: 20px;
      padding: 5px 5px;
      top: 65%;
      left: 50%;
    }
  }
  
  
  @media screen and (max-width: 768px)  {
    .banner {
      .logo__carrusel {
        position: absolute;
        font-size: 1rem;
      }
  
      a { @include boton () ;
       font-size: 3rem;
        display: inline-block;
        position: absolute;
        
        transform: translate(-50%, -50%);
        
        
      }
    }
  
  
  @media screen and (min-width: 425px) {
    .banner a {

      font-size: 1rem;
        display: inline-block;
        position: absolute;
        padding: 20px 20px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
        
     
    }
  }
  @media screen and (min-width: 320px) {
    .banner a {

      font-size: 1rem;
        display: inline-block;
        position: absolute;
        padding: 3px 3px;
        
        transform: translate(-50%, -50%);
        color: white;
        
        top: 40%;
        left: 50%;
     
    }
    }}


    .dark-bg {
      background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/inicio.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  /*imagen Hero*/
  #hero .container {
        height: 80vh;
  }