



    .imagen__inicio {
      background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/ingreso1.jpg);
    
    background-size: cover;
    height: 30rem;
    
    }



  
  
  

.titulo__h1 { 
  font-family: allison;
  color:white;
padding: 5;
 
font-size:6rem;

}
.parrafo_{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 

}




.boton_pre  {

  background:rgb(146, 143, 143);
  width: 8rem;
  height: 4rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 1rem;
  &:hover, &:focus {
    background:#01252e;
 
    color: white;
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    
  }
 
}

 

@media screen and (max-width: 768px){
  .boton_{
    

margin-bottom: 5rem;

  }}
  @media screen and (max-width: 375px){
  .text-center .text-dark{
    
    width: 90%;

  }
}

