
.titulo__h1 {
  font-size: 70px;
  text-align: center;
  color:black;
  margin-top: 50px;
  font-family:serif;
  margin-left: 30xp;
 
  
}


.persona {
  
  

  &__parrafo {
    align-items: center;
    color:black;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

  &__titulo{
   
  text-align: center;
  color:black;
  margin-top: 50px;
  font-family:serif;
  margin-left: 20xp;
 
   
    
    
  }
  &__columna {
    margin: 5%;
  }
  &__columna :hover {
    border-bottom: 1px grey solid;
    text-decoration: none;
    justify-content: center;
    transition: 0.10s;
    color: red;
  }
  &__contenedor {
    border-radius: 10xp;
    display: grid;
  }
  
  @media (min-width: 520px) {
    &__contenedor {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (min-width: 728px) {
    &__contenedor {
      grid-template-columns: repeat(3, 33.3%);
    }
  }
  
.reserva_excursion{
  padding: 10xp;
}}