.redes {
    background:rgb(146, 143, 143);
    color: #fff;
    font-size: 20px;
    text-align: center;
    
  
  .redes__titulo {
    font-size: 60px;
   
    color:white;
    position: relative;
    font-family: allison;
    margin: 0 0 15px 0;
  }
  
  
  .redes__enlace {
    margin: 0 0 30px 0; 
    color: blanchedalmond; 
    font-size: 18px;
    display: inline-block;
  background:#7A805C;
    
    border-radius: 50%;
    text-align: center;
    width: 40px;
   width: 10xp;
    transition: 0.3s;
  }
  .redes__enlace :hover {
    color: #DDDDDA;
  transform: scale(1.1, 1.1);
  text-decoration:double;
}


.caja-footer {
  

 
  
  border-top-left-radius: 25rem;

  background:#789DCA;
  position: relative;
 
  text-decoration: none;
  color: cornsilk;
  .links a {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding: 0xp;
  }
}

footer_title
{
 
  color:white;
}}
@media screen and (max-width: 991px){
  .input-group{
    width: 50%;
    margin: 0 auto;
  }
}

