.card-argentina {
    border: 1px ;
    -webkit-box-shadow: 2px 4px 30px 0 #a07536;
    box-shadow: 2px 4px 30px 0 hsla(25, 84%, 65%, 0.774);
  }
  
  #galeria .col-lg-4 {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1xp;
  }
   
  .color_reservas{
    background-color: yellow;
  }
  
  