.card-argentina {
    border: 1px ;
    -webkit-box-shadow: 2px 4px 30px 0 #5a5650;
    box-shadow: 2px 4px 30px 0 hsla(23, 5%, 51%, 0.973);
  }
  
  #galeria .col-lg-4 {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1xp;
  }
   
  .color_reservas{
    background-color: #CCA77A;
  }
  
  