

.login-form {
  padding: 200px 0;

  background-size:cover;

  form {
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
  }

  .ingresar_ .dark-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/inicio.jpg) !important;

  }
  .form-name {
    text-align: center;
    margin-bottom: 25px;
    line-height: 100px;
  }

  .item {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }

}
.login-txt a{
  text-decoration: none !important;
  color: black !important;
}


    
      
    
 
  
@media screen and (max-width: 680px)  { 
  .login-form form {
    width: 90%;
    margin: 0 auto;
    padding: 40px 18px;
  }
}







.fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  
}