

.login-form {
  padding: 200px 0;
  background: url(../Imagenes/atardecer.jpg);
  background-size:cover;

  form {
    max-width: 500px;
    margin: auto;
    padding: 40px 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 10px rgb(131, 130, 130);
  }

  .form-name {
    text-align: center;
    margin-bottom: 25px;
    line-height: 100px;
  }

  .item {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }

}
.login-txt a{
  text-decoration: none !important;
  color: black !important;
}