@import url("https://kit.fontawesome.com/04f7d0d100.js");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
h1 {
  color: b;
  text-align: center;
  opacity: 0.7;
  font-family: arial;
  word-spacing: 2px;
  font-size: 50px;
}

body {
  background-color: whitesmoke;
  color: white;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.imagenPortada {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 100%;
}

.img-effect {
  overflow: hidden;
}

.img-effect img {
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

.img-effect:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.redes {
  background: #CCA77A;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.redes .redes__titulo {
  font-size: 60px;
  font-weight: 700xp;
  color: white;
  position: relative;
  font-family: allison;
  padding: 10xp;
  margin: 0 0 15px 0;
}

.redes .redes__enlace {
  margin: 0 0 40px 0;
  color: blanchedalmond;
  font-size: 18px;
  display: inline-block;
  background: #7A805C;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.redes .redes__enlace :hover {
  color: #DDDDDA;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-text-decoration: double;
          text-decoration: double;
}

.redes .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 50px;
  background: #7A805C;
  position: relative;
  margin: 60xp;
  text-decoration: none;
  color: cornsilk;
}

.redes .footer .links a {
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  padding: 0xp;
}

.redes .footer_title {
  color: white;
}

.titulo__h1 {
  font-size: 70px;
  text-align: center;
  color: black;
  margin-top: 50px;
  font-family: serif;
  margin-left: 30xp;
}

.persona__parrafo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.persona__titulo {
  text-align: center;
  color: black;
  margin-top: 50px;
  font-family: serif;
  margin-left: 20xp;
}

.persona__columna {
  margin: 5%;
}

.persona__columna :hover {
  border-bottom: 1px grey solid;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.10s;
  transition: 0.10s;
  color: red;
}

.persona__contenedor {
  border-radius: 10xp;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 520px) {
  .persona__contenedor {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 728px) {
  .persona__contenedor {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
}

.persona .reserva_excursion {
  padding: 10xp;
}

.navbar-nav :hover {
  border: 1px solid black;
}

.navbar {
  background-color: #CCA77A;
  padding: 40xp;
  font-size: large;
}

.logoDeContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form button, .contact-form form input, .contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover, .contact-form form button:focus {
  background: #d63031;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: black;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4, .contact-info ul, .contact-info p {
    text-align: left;
  }
}

.indexMain__carrusel {
  width: 100%;
  height: 50vh;
}

.indexMain__carrusel .indexMain__carruselContainer {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.carousel-item__h3, .carousel-item__h4, .carousel-item__a {
  position: absolute;
  color: #DDDDDA;
  font-size: 3rem;
  top: 3rem;
  left: 10rem;
}

@media only screen and (max-width: 991px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 2.5rem;
    left: 8rem;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 2rem;
    left: 6rem;
  }
}

@media only screen and (max-width: 575px) {
  .carousel-item__h3, .carousel-item__h4, .carousel-item__a {
    font-size: 1.8rem;
    left: 2.5rem;
  }
}

.carousel-item__h4 {
  font-size: 1.3rem;
  top: 8rem;
}

@media only screen and (max-width: 575px) {
  .carousel-item__h4 {
    font-size: 0.8rem;
  }
}

.carousel-item__a {
  top: 11rem;
  -webkit-text-decoration: 1px solid transparent;
          text-decoration: 1px solid transparent;
  font-size: 3rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.carousel-item:hover > .carousel-item__a {
  color: #DDDDDA;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  text-decoration: underline;
}

.carousel-control-next,
.carousel-control-prev {
  width: 11%;
}

.excursion {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.banner a {
  font-size: 2rem;
  display: inline-block;
  padding: 60px 60px;
  background: #CCA77A;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 5px 5px;
  top: 65%;
  left: 50%;
}

.banner a:hover {
  background: #666664;
}

@media screen and (max-width: 768px) {
  .banner .logo__carrusel {
    position: absolute;
    font-size: 1rem;
  }
  .banner a {
    background-color: #DDDDDA;
    padding: 1px 1px;
    top: 90%;
    left: 60%;
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .banner a {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    padding: 20px 20px;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .banner a {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    padding: 3px 3px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    top: 40%;
    left: 50%;
  }
}

.login-form {
  padding: 200px 0;
  background: url(/Imagenes/atardecer.jpg);
  background-size: cover;
}

.login-form form {
  max-width: 500px;
  margin: auto;
  padding: 40px 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #838282;
          box-shadow: 0px 2px 10px #838282;
}

.login-form .form-name {
  text-align: center;
  margin-bottom: 25px;
  line-height: 100px;
}

.login-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.login-txt a {
  text-decoration: none !important;
  color: black !important;
}

.slider li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: allisons;
  color: blueviolet;
  width: 100%;
  -webkit-animation: cambio 2s alternate;
  animation: cambio 2s alternate;
}

.slider li h1 {
  color: red;
  font-family: Arial;
  padding: 20xp;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 10%;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  45% {
    margin-left: -200%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 10%;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  45% {
    margin-left: -200%;
  }
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(91, 94, 54, 0.233);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  opacity: 0.2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.excursion:hover .info {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-wrapper {
  padding: 60px 0;
}

.section-title {
  padding: 20px 0;
}

.center_body h2 {
  color: #ffff;
  font-style: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 200xp;
}

.center_body p {
  color: black;
  font-weight: 20;
  margin: 20px;
}

.center_body a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 10px;
  -webkit-box-shadow: 5px 4px 15px -5px #0046d5;
  box-shadow: 5px 4px 15px -5px #0046d5;
  border-radius: 40px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 6rem;
  width: 40rem;
}

.center_body a:hover {
  color: #ffff;
  background-color: #31559c;
}

.main_body {
  width: 110%;
  height: 110vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/Imagenes/fondo1.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Imagenes/fondo1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */