/*=== Propiedades generales para toda la pagina===*/
@import url("https://kit.fontawesome.com/04f7d0d100.js");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
h1 {
  text-align: center;
  opacity: 0.7;
  word-spacing: 2px;
  font-size: 50px;
}

body {
  background-color: white;
  color: white;
  line-height: 1.6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.imagenPortada {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 100%;
}

.img-effect {
  overflow: hidden;
}

.img-effect img {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.img-effect:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

/*=== Propiedades para las redes sociales===*/
.redes {
  background: #928f8f;
  color: #fff;
  font-size: 20px;
  text-align: center;
  /*=== Propiedades el footer===*/
}

.redes .redes__titulo {
  font-size: 60px;
  color: white;
  position: relative;
  font-family: allison;
  margin: 0 0 15px 0;
}

.redes .redes__enlace {
  margin: 0 0 30px 0;
  color: blanchedalmond;
  font-size: 18px;
  display: inline-block;
  background: #01252e;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  width: 10xp;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.redes .redes__enlace :hover {
  color: #ddddda;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-text-decoration: double;
          text-decoration: double;
}

.redes .caja-footer {
  padding: 2rem;
  border-top-left-radius: 25rem;
  background: #01252e;
  position: relative;
  text-decoration: none;
  color: cornsilk;
  /*=== Propiedades para el logo del footer===*/
  /*=== Propiedades para el boton del footer===*/
  /*=== Propiedades media query para el imput del footer===*/
}

.redes .caja-footer .links a {
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  padding: 0xp;
}

.redes .caja-footer .footer_logo img {
  height: 8rem;
  width: 13rem;
  padding: 1rem;
}

.redes .caja-footer .boton__ {
  background: #928f8f;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0;
}

.redes .caja-footer .boton__:hover, .redes .caja-footer .boton__:focus {
  background: #01252e;
  color: white;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@media screen and (max-width: 768px) {
  .redes .caja-footer .input-group {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .redes .caja-footer .input-group {
    width: 100%;
    margin: 0 auto;
  }
}

/*=== Propiedades para los bontones de excursiones ===*/
.botones {
  margin-bottom: 3rem;
}

.boton_pre {
  width: 12rem !important;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tituloo_h1 {
  color: black !important;
}

/*=== Propiedades para iconos de excursiones ===*/
hr {
  color: #01252e;
  margin-top: 5rem !important;
  width: 90%;
  margin: 0 auto;
}

.card-argentina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-argentina .img-effect {
  width: 5rem;
}

.carousel img {
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card .slide {
  width: 60%;
}

.card .carousel img {
  height: 300px;
}

.columnas h3 {
  margin-bottom: 2rem;
}

.columnas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  margin-right: 0.8rem;
}

/*=== Propiedades para iconos de excursiones ===*/
.boton_excursiones {
  text-decoration: none;
  background: #01252e;
  color: white;
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.boton_excursiones:hover, .boton_excursiones:focus {
  background: #928f8f;
  color: black;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/*=== Propiedades para el carousel de las excursiones ===*/
.carousel button {
  height: 300px;
}

.card .card-body {
  width: 100%;
}

/*=== Media Query para los botones de excursiones ===*/
@media (max-width: 768px) {
  a {
    margin-top: 0.5rem;
  }
  .card-argentina .img-effect {
    width: 4rem !important;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card .slide {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .boton_pre {
    margin-right: 1rem;
    width: 9rem !important;
    font-size: 1rem !important;
    margin-top: 1rem !important;
  }
}

/*=== Propiedades para el menu del nav===*/
.b-effect {
  border-bottom: 2px solid transparent;
}

.b-effect:hover {
  border-bottom-color: #e7e5ee;
  -webkit-transition: 750ms;
  transition: 750ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar {
  background: #01252e !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo-effect {
  color: #f1f1e9 !important;
}

/*=== Propiedades para el logo del nav===*/
.logo_nav {
  margin-left: 2rem;
}

/*=== Media query para el logo del nav===*/
@media screen and (max-width: 768px) {
  .logo_nav {
    width: 6rem;
  }
  .titulo__h1 {
    font-size: 5rem !important;
  }
}

/*=== Propiedades para la imagen del fondo de contacto===*/
.login-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 40px 60px;
  -webkit-box-shadow: 0px 2px 10px #838282;
          box-shadow: 0px 2px 10px #838282;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../Imagenes/fondo1.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/fondo1.jpeg);
  background-size: cover;
  position: center;
}

/*=== Propiedades para el formulario de contacto===*/
.contact-form {
  max-width: 800px;
  margin: auto;
  padding: 40px 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #838282;
          box-shadow: 0px 2px 10px #838282;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #e6dada;
  border-bottom: 1px solid #ebc7c7;
}

.contact-form form button {
  background: #01252e;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover, .contact-form form button:focus {
  background: #928f8f;
  color: #070707;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/*=== Media Query para el formulario ===*/
@media screen and (max-width: 425px) {
  .contact-form {
    width: 100%;
    margin: 0;
  }
  .contact-form p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*=== Propiedades para la imagen del fondo del registro===*/
.login-form {
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../Imagenes/fondo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/fondo.jpg);
  background-size: cover;
  /*=== Propiedades para formulario===*/
}

.login-form form {
  max-width: 500px;
  margin: auto;
  padding: 40px 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #838282;
          box-shadow: 0px 2px 10px #838282;
}

.login-form .form-name {
  text-align: center;
  margin-bottom: 25px;
  line-height: 100px;
}

.login-form .form-name img {
  height: 8rem;
  width: 13rem;
  padding: 1rem;
}

.login-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.login-txt a {
  text-decoration: none !important;
  color: black !important;
}

/*=== Propiedades para el boton de registro===*/
.boton_ {
  background: #01252e;
  color: white !important;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0;
}

.boton_:hover, .boton_:focus {
  background: #928f8f;
  color: black !important;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/*=== Media Query para el registro===*/
@media screen and (max-width: 680px) {
  .login-form form {
    width: 90%;
    margin: 0 auto;
    padding: 40px 18px;
  }
}

/*=== Propiedades para la informacion de las excursiones===*/
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(3, 3, 1, 0.233);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  opacity: 0.2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.excursion:hover .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-wrapper {
  padding: 60px 0;
}

.section-title {
  padding: 20px 0;
}

.excursion {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/*=== Propiedades para la imagen del index===*/
.imagen__inicio {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../Imagenes/ingreso1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/ingreso1.jpg);
  background-size: cover;
  height: 95vh;
}

/*=== Propiedades el titulo del index===*/
.titulo__h1 {
  font-family: allison;
  font-size: 8rem;
}

.parrafo_ {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0.1rem;
}

/*=== Propiedades para la imagen pre-viaje===*/
.imagen__previaje {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(../Imagenes/ingreso2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/ingreso2.jpg);
  background-size: cover;
  height: 90vh;
}

.logo_pre {
  width: 50%;
}

/*=== Propiedades para el boton pre-viaje===*/
.boton_pre {
  background: #01252e;
  color: white;
  width: 10rem;
  height: 4rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.boton_pre:hover, .boton_pre:focus {
  background: #928f8f;
  color: black;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.boton_pree {
  background: #928f8f;
  width: 10rem;
  height: 4rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  border-radius: 1rem;
}

.boton_pree:hover, .boton_pree:focus {
  background: #01252e;
  color: white;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/*=== Media Query el parrafo de la imagen===*/
@media screen and (max-width: 375px) {
  .text-center .text-dark {
    width: 95%;
  }
}
/*# sourceMappingURL=main.css.map */